#empresa_form {
    margin-top: 20px; 
}
#empresa_form #div_form{
     padding-top: 20px;
     padding-left: 10px;
     min-height: 350px
}
#empresa_form #div_form_footer{
    height: 48px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 6px;
}
.pan_info{
    height: 100px; 
    padding-top: 10px;
    padding-right: 10px;
    text-align: justify;
    background: url(../../../images/stylistica-icons/24x24/info.png) no-repeat;
    background-position: 4px 10px;
}