#main-content{
    background: #FFF url(../images/layout/lay-mapa.jpeg) no-repeat; 
    height: 590px;
}
#lay-header #lay-header-logo{
    height: 116px;
    background: url(../images/layout/lay-logo.png) no-repeat;
}
#lay-info-panel{
    height: 240px;
    position: fixed;
    bottom: 70px;
}
#lay-info-naranja{
    background: #FFF url(../images/layout/lay-cuadronaranja.png) repeat-y;
    background-position:center top;
}
#lay-info-linea{
    height: 7px; 
    background: #FFF url(../images/layout/lay-raya-negra.png) repeat-x;
}
#lay-info-panel .tres-infos{
    height: 220px; 
    background-color: #fff;
    border-radius:10px;
    z-index: 99;
    position: relative;
    bottom: 30px;
    box-shadow: 0px 0px 5px 2px #aaa
}
#pin-ingresa{
    width: 64px; 
    height: 70px; 
    position: relative; 
    left: 560px; 
    top: 70px; 
    cursor: pointer
}
#pin-busca{
    width: 64px; 
    height: 215px; 
    position: relative; 
    left: 660px; 
    top: 35px; 
    cursor: pointer
}