#main-container{height: auto !important;min-height: 650px; border-left:  #3399cc solid 5px; border-right:  #3399cc solid 8px; box-shadow: 0px -5px 5px 2px #999;}
#lay-header-logo{height: 100px; background: url(../images/layout/lay-logo.png) no-repeat; z-index: 300; position: relative;}

#dash{position: relative; bottom: 7px; height: 241px; background: url(../images/main-layout/dash.png) repeat-y;}
#dash div{ height: 28px; padding-left: 18px; padding-top: 12px }
#dash #end-dash{position: relative; top: 20px; background: url(../images/main-layout/end-dash.png) no-repeat; height: 6px;}
#lay-footer{z-index: 99; margin-left: auto; margin-right: auto;   width: 1000px !important;  height: 68px; background:#191007 url(../images/layout/lay-footer.png) no-repeat;box-shadow: 0px 0px 5px 2px #999}
#dash div img{ cursor: pointer }
#dash div img:hover{ box-shadow: 0px 0px 5px 2px #FFF; border-radius: 20px}
#dash #top-dash{padding-top: 33px}
#panel-empresa{width: 86px; height: 27px; position: relative; left: 600px; background: #191007; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; text-align: center}
#panel-empresa img{cursor: pointer}
#panel-empresa img:hover{ box-shadow: 0px 0px 5px 2px #FFF; border-radius: 20px }
#lay-header-user-panel{height: 100px;}
#pan-empresa{
    height: 140px; 
    z-index: 99; 
    width: 200px;
    position: relative; 
    background: #191007; 
    right: 114px; 
    bottom: 5px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-top-left-radius: 5px; 
    display: none; 
    padding-top: 10px; 
    color: white; 
    text-align: right;
}

#pan-buscar{
    height: 40px; 
    z-index: 99; 
    width: 300px;
    position: relative; 
    background: #191007; 
    right: 214px; 
    bottom: 5px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-top-left-radius: 5px; 
    display: none; 
    padding-top: 10px; 
    color: white; 
    text-align: right;
}
#pan-buscar input{
    width: 220px;
    border: #999 solid thin;
    border-radius: 5px;
    height: 28px;
    color: #aaa
}