*{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.form-header{
    margin-top: 70px;
}
.form-separador{
    width: 790px;
    height: 3px;
    background: url(../images/comun/linea.png) no-repeat;
}
.inf-separador{
    background: url(../images/comun/linea-corta.png) no-repeat;
    height: 3px;
    background-position: right;
}
.form-header h3{
    padding: 0;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: lighter;
}

.form-btn{
    width: 100px;
    height: 27px;
    color: #000;
    overflow: visible;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.form-btn:hover{
    color: #fff;
}

.form-btn-confirmar{
    background-image: url(../images/comun/btn-confirmar.png);
}

.form-btn-cancelar{
    background-image: url(../images/comun/btn-cancelar.png);
}

.form-fila-standard th{
    width: 215px; 
    vertical-align: top
}
.form_container_rounded{
    border-radius: 10px;
    border: #999 solid thin;
    height: 100%;
}

.consejo{
    color: #777;
    font-size: 12px;
}

.pan-info{
    height: 80px; 
    padding-top: 10px;
    padding-right: 10px;
    text-align: justify;
    background: url(../images/stylistica-icons/24x24/info.png) no-repeat;
    background-position: 4px 10px;
}

/*aqui empieza ali*/
#anuncio_que_incluye,#anuncio_condiciones{height:100px; width: 265px;}
.content_window{  width: 750px;  margin-left:75px; height:650px; padding:10px;  }
a.sucursal_verde, a.sucursal_verde:hover, 
a.anuncio_morado, a.anuncio_morado:hover,
a.cuenta_azul, a.cuenta_azul:hover{  
    font-size:16px;
    text-transform:capitalize;
    text-decoration: none;
    margin-left:70px;
}
a.sucursal_verde, a.sucursal_verde:hover{    
    color:#39B536;
}
.lorem_ipsum{
    height: 114px;
    text-align: center;
    width:180px;
    color:#808080;
}
a.anuncio_morado, a.anuncio_morado:hover{
    color:#602B89;    
}
a.cuenta_azul, a.cuenta_azul:hover{
    color:#3FA8F4;    
}
.hr_window{
    clear: both;
    box-shadow: 0px 0px 1px 1px #CCC;
    margin-top: 20px;
    border-bottom: #CCC solid 1px;
    height: 1px;
}