#main-container{height: auto !important;min-height: 650px; border-left:  #3399cc solid 5px; border-right:  #3399cc solid 8px; box-shadow: 0px -5px 5px 2px #999;}
#lay-header-logo{height: 100px; background: url(../images/layout/lay-logo.png) no-repeat; z-index: 300; position: relative;}
#panel-empresa{width: 86px; height: 100px; position: relative; left: 600px; background: url(../images/main-layout/panel-empresa.png) no-repeat; text-align: center}
#dash{position: relative; bottom: 7px; height: 241px; background: url(../images/main-layout/dash.png) repeat-y;}
#dash div{ height: 28px; padding-left: 18px; padding-top: 12px }
#dash #end-dash{position: relative; top: 20px; background: url(../images/main-layout/end-dash.png) no-repeat; height: 6px;}
#lay-footer{z-index: 99; margin-left: auto; margin-right: auto;   width: 1000px !important;  height: 68px; background:#191007 url(../images/layout/lay-footer.png) no-repeat;box-shadow: 0px 0px 5px 2px #999}
#dash div img{ cursor: pointer }
#dash div img:hover{ box-shadow: 0px 0px 5px 2px #FFF; border-radius: 20px}
#dash #top-dash{padding-top: 33px}
